.button-group {
  .button {
    color: $white-color;
    background-color: $gray-color;

    border: none;
    padding: 3px 15px;

    font-size: 14px;
    font-weight: bold;
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &-active {
      background-color: $green-color;
    }
  }
}
