.OrderedTicket {
  color: $white-color;
  .border-pending {
    border-radius: 4px solid $darker-gray-color;
  }
  .border-active {
    border: 4px solid $darker-green-color;
  }
  .border-banned {
    border: 4px solid $red-color;
  }
  .box {
    padding: 10px;
    background-color: $black-color;
    border-radius: 5px;
  }
  .movieName {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: $yellow-color;
  }
  ul {
    list-style-type: none;
    li {
      margin-bottom: 5px;
      strong {
        display: inline-block;
        width: 200px;
      }
    }
    ul.seat {
      display: flex;
      padding: 0;
      li {
        padding: 5px 10px;
        margin-right: 5px;
        font-weight: bold;
        background-color: $blue-color;
        border-radius: 5px;
      }
    }
  }
}
