$white-color: #fff;
$green-color: #89c341;
$gray-color: #878787;
$darket-gray-color: #757575;
$black-color: #121617;
$lighter-back-color: #132029;
$yellow-color: #e9c619;
$darker-yellow-color: #b49913;
$red-color: red;
$blue-color: blue;

$sm: "max-width: 576px";
$md: "max-width: 768px";
$lg: "max-width: 992px";
$xl: "max-width: 1200px";
$xxl: "max-width: 1400px";
