$white-color: #fff;
$green-color: #89c341;
$lighter-green-color: #d2f5cd;
$darker-green-color: #1f9b0c;
$lighter-gray-color: #dfdfdf;
$gray-color: #878787;
$darker-gray-color: #757575;
$lighter-gray-color: #eeeeee;
$black-color: #121617;
$lighter-back-color: #132029;
$yellow-color: #e9c619;
$darker-yellow-color: #b49913;
$lighter-red-color: rgb(255, 200, 200);
$red-color: rgb(255, 38, 38);
$blue-color: blue;

$sm: "max-width: 576px";
$md: "max-width: 768px";
$lg: "max-width: 992px";
$xl: "max-width: 1200px";
$xxl: "max-width: 1400px";
